<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title }} | {{ page.title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/minireset.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/blog.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/work.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animations.css" />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
      integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wallpaper"></div>
    {% include navigation.html %} {{ content }}
  </body>
</html>
